@import url(../public/style/font/Poppins.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #58b4e7;
    min-height: 100vh;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

#header .logo {
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#header ul li {
    list-style: none;

}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}

#header ul li a.active,
#header ul li a:hover {
    background: #112434;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

section img#house {
    z-index: 2;
}

section img#crs {
    top: 0;
    bottom: initial;
}

#txt {
    position: absolute;
    left: -150px;
    color: #fff;
    z-index: 1;
    font-size: 8em;
    font-weight: 900;
    white-space: nowrap;
    -webkit-text-stroke: 4px #112434;

}

.sec {
    position: relative;
    padding: 100px;
    background: #bedbe5;
    box-shadow: 0 0 0 2px #bedbe5;
}

.sec h2 {
    font-size: 3em;
    color: #112434;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;

}