@font-face {
    font-family: "iconfont";
    /* Project id 3840134 */
    src: url('//at.alicdn.com/t/c/font_3840134_xaqngapj3dp.woff2?t=1672999939330') format('woff2'),
        url('//at.alicdn.com/t/c/font_3840134_xaqngapj3dp.woff?t=1672999939330') format('woff'),
        url('//at.alicdn.com/t/c/font_3840134_xaqngapj3dp.ttf?t=1672999939330') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e646";
}

.icon-game:before {
    content: "\e6df";
}

.icon-alarm:before {
    content: "\e8e6";
}

.icon-shoudiantong:before {
    content: "\e60d";
}

.icon-phone:before {
    content: "\e7e3";
}

.icon-moon:before {
    content: "\e723";
}

.icon-jisuanqi:before {
    content: "\eb18";
}

.icon-camera:before {
    content: "\e6e7";
}

.icon-time:before {
    content: "\e680";
}

.icon-chat:before {
    content: "\e69d";
}

.icon-weixin:before {
    content: "\e600";
}

.icon-QQ:before {
    content: "\e882";
}

.icon-weibo:before {
    content: "\e618";
}

.icon-douyin:before {
    content: "\e8db";
}